/***** global *****/
.active{
	background-color: #00b6f8;
	color: white;
}

/***** body *****/
body
{
	background: url('../images/back.png');
}

*
{
	padding: 0;
	margin: 0;
	color: gray;
}

/***** wrapper *****/

div#wrapper
{
	width: 800px;
	margin: 0 auto;
}

/***** header *****/
header
{
	display: block;
	height: 100px;
	width: 100%;
	margin-bottom: 50px;
	background: black;
	box-shadow: 1px 1px 12px black;
}

header h1
{
	display: block;
	width: 650px;
	height: 100px;
	text-indent: -5000px;
	background: url('../images/header.png');
	margin: 0 auto;
}



/***** entete *****/

table, table td{
 border-width:1px; 
 border-style:solid; 
 border-color:black;
}

table
{
	margin: 0 auto;
}
#j1{
	float:left;
	height: 380px;
	width: 130px;
}
#j2{
	float: right;
	height: 380px;
	width: 130px;
}

#j1 h1, #j2 h1{
	text-align: center;
	font-size: 20px;
	margin:0;
	font-weight: normal;
}

#j1 h1.gras, #j2 h1.gras{
	font-weight:bold;
}

#BN{
	background-color: #9a6e63;
}
.TT{
	background-color: #eb6762;
	background-image: url('../images/tt.png');
	background-repeat: no-repeat;
}

#EH{
	background-color: #3f689e;
}
.EM{
	background-color: #abdfde;
	background-image: url('../images/em.png');
	background-repeat: no-repeat;
	background-position: center;
}

.C{
	background-color: #c3d196;
}

.select, #BN.select, #EH.select{
	background-color: #fef5b2;
}

/***** footer *****/

