/***** global *****/
.active{
	background-color: #00b6f8;
	color: white;
}

/***** header *****/

/***** entete *****/

/***** body *****/
body{
	width: 920px;
	margin: 0 auto;
}

table, table td{
 border-width:1px; 
 border-style:solid; 
 border-color:black;
}

#BN{
	background-color: #552000;
}
.TT{
	background-color: #FF0000;
}

#EH{
	background-color: #002055;
}
.EM{
	background-color: #0000FF;
}
/***** footer *****/

