/***** global *****/
.active{
	background-color: #00b6f8;
	color: white;
}

/***** body *****/
body
{
	background: url('../images/back.png');
}

/***** wrapper *****/

div#wrapper
{
	width: 800px;
	margin: 0 auto;
}

/***** header *****/
header
{
	margin: 0 auto;
}

header h1
{
	display: block;
	width: 800px;
	height: 150px;
	text-indent: -5000px;
	background: url('../images/header.png');
}



/***** entete *****/

table, table td{
 border-width:1px; 
 border-style:solid; 
 border-color:black;
}

table
{
	margin: 0 auto;
}

#BN{
	background-color: #9a6e63;
}
.TT{
	background-color: #eb6762;
}

#EH{
	background-color: #3f689e;
}
.EM{
	background-color: #abdfde;
}
/***** footer *****/

