@font-face
{
font-family: Lobster;
src: url('../fonts/Lobster.otf');
}


/***** global *****/
.active{
	background-color: #00b6f8;
	color: white;
}

/***** body *****/
body
{
	background: url('../images/back.png');
}

*
{
	padding: 0;
	margin: 0;
}

/***** wrapper *****/

div#wrapper
{
	width: 1000px;
	margin: 0 auto;
}

/***** header *****/
header
{
	display: block;
	height: 100px;
	width: 100%;
	margin-bottom: 50px;
	background: black;
	box-shadow: 1px 1px 12px black;
}

header h1
{
	display: block;
	width: 650px;
	height: 100px;
	text-indent: -5000px;
	background: url('../images/header.png');
	margin: 0 auto;
}



/***** entete *****/

table, table td{
 border-width:1px; 
 border-style:solid; 
 border-color:black;
}

table
{
	margin: 0 auto;
}

#j1{
	float:left;
<<<<<<< HEAD
	height: 380px;
	width: 130px;
}
#j2{
	float: right;
	height: 380px;
	width: 130px;
=======
	height: 41px;
	width: 200px;
	background: url('../images/headplayer.png');
}
#j2{
	float: right;
	height: 41px;
	width: 200px;
	background: url('../images/headplayer.png');
>>>>>>> Design
}

#j1 h1, #j2 h1{
	text-align: center;
	font-size: 1.5em;
	margin:0;
	font-weight: normal;
	color: #e6ecc8;
	font-family: 'Lobster';
}

#j1 h1.gras, #j2 h1.gras{
	font-weight:bold;
	color: #c98149;	
	text-shadow: 0 0 0.2em #e6ecc8, 0 0 0.2em #e6ecc8, 0 0 0.2em #e6ecc8;
}

#BN{
	background-image: url('../images/bn.png');
	background-repeat: no-repeat;
	background-position: center;
}
.TT{
	background-image: url('../images/tt.png');
	background-repeat: no-repeat;
	background-position: center;
}

#EH{
	background-image: url('../images/eh.png');
	background-repeat: no-repeat;
	background-position: center;
}
.EM{
	background-image: url('../images/em.png');
	background-repeat: no-repeat;
	background-position: center;
}

.C{
	background-color: #c3d196;
}

.select, #BN.select, #EH.select{
	background-color: #fef5b2;
}

/***** footer *****/

