@font-face
{
font-family: 'Lobster';
src: url('../fonts/Lobster.otf');
}

@font-face
{
font-family: 'League_Gothic';
src: url('../fonts/League_Gothic.otf');
}


@font-face
{
font-family: 'Colleged';
src: url('../fonts/Colleged.ttf');
}


/***** global *****/
.active{
	background-color: #00b6f8;
	color: white;
}

/***** body *****/
body
{
	background: url('../images/back2.png') top repeat-y, url('../images/back.png') ;
}

*
{
	padding: 0;
	margin: 0;
}

/***** wrapper *****/

div.wrapper
{
	width: 940px;
	margin: 0 auto;
}

/***** header *****/
header
{
	display: block;
	height: 100px;
	width: 100%;
	margin-bottom: 5%;
	background: url('../images/header.png') top no-repeat;
}

header h1
{
	padding: 18px;
	text-align: center;
	font-family: 'Lobster';
	font-size: 3em;
	color: white;
}

header h1 em#headTT
{
	font-family: 'League_Gothic';
	font-style: normal;
	text-transform: uppercase;
	color: #e46420;
	text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white
}

header h1 em#headEM
{
	font-family: 'League_Gothic';
	font-style: normal;
	text-transform: uppercase;
	color: #28aae1;
	text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white
}


/***** entete *****/

h1#headplateau
{
	display: block;
	width:722px;
	height:81px;
	text-align: center;
	margin: 0 auto;
	background: url('../images/headplateau.png') no-repeat top;
	color: #c98149;
	padding-top: 5px;
	font-family: 'Lobster';
	text-shadow: 0 0 0.2em #e6ecc8, 0 0 0.2em #e6ecc8, 0 0 0.2em #e6ecc8;
}

table, table td{
 border-width:1px; 
 border-style:solid; 
 border-color:rgba(167, 86, 86, 0.5);
	box-shadow: 1px 1px 12px #e26664;
}

table
{
	margin: -33px auto 0 auto;
	background: url('../images/backgame.png') center no-repeat;
}

#j1{
	float: left;
	height: 49px;
	width: 200px;
	background: url('../images/headplayer2.png') top no-repeat, url('../images/player.png') top no-repeat;
}
#j2{
	float: right;
	height: 49px;
	width: 200px;
	background: url('../images/headplayer2.png') top no-repeat, url('../images/player.png') top no-repeat;
}

#j1 h1, #j2 h1{
	text-align: center;
	font-size: 1.5em;
	margin:0;
	font-weight: normal;
	color: #e6ecc8;
	font-family: 'Lobster';
	margin-bottom: 0px;
}

#j1 a
{
	display: block;
	background: url('../images/surrender1.png') no-repeat;
	margin: -90px 0 0 12px;
	width: 90px;
	height: 43px;
	color: #e6ecc8;
	text-shadow: 0 0 0.2em #c98149, 0 0 0.2em #c98149, 0 0 0.2em #c98149;
	font-family: 'League_Gothic';
	text-transform: uppercase;
	font-size: 1.2em;
	padding: 3px 0 0 20px;
	text-decoration: none;
}

#j2 a
{
	display: block;
	background: url('../images/surrender2.png') no-repeat;
	margin: -90px 0 0 100px;
	width: 90px;
	height: 43px;
	color: #e6ecc8;
	text-shadow: 0 0 0.2em #c98149, 0 0 0.2em #c98149, 0 0 0.2em #c98149;
	font-family: 'League_Gothic';
	text-transform: uppercase;
	font-size: 1.2em;
	padding: 3px 0 0 12px;
	text-decoration: none;
}

#mvEH, #mvBN
{
	text-align: center;
	font-family: 'Lobster';
	color: #e6ecc8;
	text-shadow: 0 0 0.2em #c98149, 0 0 0.2em #c98149, 0 0 0.2em #c98149;
	font-size: 1.2em;
	background: url('../images/player.png') top no-repeat;
	padding: 20px;
	display: block;
	margin: 0 auto;
	width: 90px;
	height: 160px;
}

#nbmvEH, #nbmvBN
{
	display: block;
	margin: 0 auto;
	text-align: center;
	font-family: 'Colleged';
	color: #e6ecc8;
	/*text-shadow: 0 0 0.2em #c98149, 0 0 0.2em #c98149, 0 0 0.2em #c98149;*/
	font-size: 6em;
	width: 90px;
	padding: 20px;
	margin-bottom: -30px;
	height: 90px;
	background: url('../images/player.png') top no-repeat;
}

#j1 h1.gras, #j2 h1.gras{
	font-weight:bold;
	color: #c98149;	
	text-shadow: 0 0 0.2em #e6ecc8, 0 0 0.2em #e6ecc8, 0 0 0.2em #e6ecc8;
}

#BN{
	background-color: rgba(252, 224, 184, 0.5);
	background-image: url('../images/bn.png');
	background-repeat: no-repeat;
	background-position: center;
}
.TT{
	background-color: rgba(228, 100, 32 ,0.5);
	background-image: url('../images/tt.png');
	background-repeat: no-repeat;
	background-position: center;
}

#EH{
	background-color: rgba(82, 44, 31, 0.5);
	background-image: url('../images/eh.png');
	background-repeat: no-repeat;
	background-position: center;
}
.EM{
	background-color: rgba(40, 170, 225, 0.5);
	background-image: url('../images/em.png');
	background-repeat: no-repeat;
	background-position: center;
}

.C{
	background-color: rgba(195, 109, 250, 0.5);
}

.select, #BN.select, #EH.select{
	background-color: rgba(254, 245, 178, 0.5);
}

/***** footer *****/
footer
{
	display: block;
}
